#staffs-div {
  box-sizing: border-box;
  position: relative;
  margin-left: 8%;
  margin-right: 8%;
  margin-top: 0%;
  padding: 0px;
  padding-bottom: 75px;
  line-height: 1.5;
  text-size-adjust: 100%;
  overflow: hidden;
}

.staffs-grid {
  margin-left: 0px;
  margin-right: 0px;
  display: flex;
  flex-flow: row wrap;
  flex-grow: 0;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
}

.staff {
  width: 300px
}

.staff-content {
  height: 350px
}

.staff-title-container {
  padding-top: 130px;
  height: 280px;
  font-size: 25px;
}

.staff-title {
  vertical-align: middle;
  text-align: center;
  margin: 0 auto;
  letter-spacing: 1px;
}

.staff-title-level {
  font-weight: bolder;
  font-size: 65px;
}

.our-team {
  padding: 30px 0 40px;
  margin-bottom: 0px;
  background-color: white;
  text-align: center;
  overflow: hidden;
  position: relative;
  border-radius: 45px;
  height: 350px;
}

.our-team .picture {
  display: inline-block;
  height: 150px;
  width: 150px;
  margin-bottom: 20px;
  z-index: 0;
  position: relative;
}

.our-team .picture::before {
  content: "";
  width: 100%;
  height: 0;
  border-radius: 50%;
  background-color: #1369ce;
  position: absolute;
  bottom: 135%;
  right: 0;
  left: 0;
  opacity: 0.9;
  transform: scale(3);
  transition: all 0.3s linear 0s;
}

.our-team:hover .picture::before {
  height: 100%;
}

.our-team .picture::after {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #1369ce;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.our-team .picture img {
  width: 100%;
  height: auto;
  border-radius: 50%;
  transform: scale(1);
  transition: all 0.9s ease 0s;
}

.our-team:hover .picture img {
  box-shadow: 0 0 0 14px #f7f5ec;
  transform: scale(0.7);
}

.our-team .name {
  display: block;
  font-size: 30px;
  color: #4e5052;
  text-transform: capitalize;
}

.our-team .title {
  display: block;
  font-size: 20px;
  color: #4e5052;
  text-transform: capitalize;
}

.our-team .social {
  width: 100%;
  padding: 0;
  margin: 0;
  background-color: #1369ce;
  position: absolute;
  bottom: -100px;
  left: 0;
  transition: all 0.5s ease 0s;
}

.our-team:hover .social {
  bottom: 0;
}

.our-team .social li {
  display: inline-block;
}

.our-team .social li a {
  display: block;
  padding: 20px;
  font-size: 17px;
  color: white;
  transition: all 0.3s ease 0s;
  text-decoration: none;
}

.our-team .social li a:hover {
  color: #1369ce;
  background-color: #f7f5ec;
}

.emptyStaff {
  height: 550px;
  font-size: 50px;
  color: grey;
  text-align: center;
  line-height: 450px;
}
